@font-face {
    font-family: "Raleway-Regular";
    src: url(../Fonts/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(../Fonts/static/Raleway-Bold.ttf);
}

/********************* Général *******************/

body {
    max-width: 1340px;
    padding: 0 50px;
    margin: auto;
}

h1,
h2,
h3,
::placeholder {
    font-family: "Raleway-Bold";
    margin: 0;
}

.p14 {
    font-size: 14px;
    margin: 9px 0px;
}

.p16 {
    font-size: 16px;
}

.bold {
    font-family: "Raleway-Bold";
}

p {
    font-family: "Raleway-Regular";
    margin: 0;
}

.flexRow {
    display: flex;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.justifyContentSpaceAround {
    justify-content: space-around;
}

.justifyContentCenter {
    justify-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.flexDirectionColumn {
    display: flex;
    flex-direction: column;
}

i {
    color: #0065FC;
}

.i000000 {
    color: #000000;
}

.iFFFFFF {
    color: #FFFFFF;
}

span {
    font-family: "Raleway-Bold";
}

header,
main {
    margin-top: 44px;
}

.boxShadow {
    box-shadow: 0px 0px 15px 0px #D9D9D9;
}

/*********************** Header **********************/

.booki {
    width: 61px;
    height: 19px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 381px;
    padding: 0;
    height: 19px;
    margin: 0;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Raleway-Regular";
}

li a {
    padding: 42px 20px 0px 20px;
}

li a:hover {
    color: #0065FC;
    border-top: solid #0065FC 2px
}

/************* section class="sectionInput" *************/

.sectionInput {
    margin-top: 53px;
}

h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

form {
    position: relative;
    margin-top: 20px;
    display: block;
    border-collapse: collapse;
    max-width: 332px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.aLeft {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.inputLeft {
    border: none;
    width: 62.6%;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 17px;
    padding-right: 5px;
    color: #000000;
}

input::placeholder {
    color: #000000;
    opacity: 1;
}

input:focus {
    outline: none;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    width: 50px;
    height: 52px;
    background: #0065FC;
    border-radius: 0px 20px 20px 0px;
    border: none;

    font-family: 'Raleway-Bold';
}

.inputRechercher {
    display: flex;
    position: absolute;
    left: 84.9%;
    top: -1px;
    width: 132px;
    height: 52px;
    justify-content: center;
    align-items: center;
    background: #0065FC;
    border-radius: 0px 20px 20px 0px;
}

.loupe {
    display: none;
}

.filtre {
    width: 914px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.divFiltre {
    width: 90%;
}

.filtre a {
    font-family: "Raleway-Bold";
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    padding: 14px 20px;
    margin: 2px 2px;
}

.filtre a:hover {
    transition: 0.2s;
    padding: 16px 22px;
    margin: 0px 0px;
    background: #DEEBFF;
}

.i {
    padding: 7px 10px 7px 10px;
    border: solid #DEEBFF 1px;
    border-radius: 30px;
    font-size: 10px;
    margin-right: 11px;
}

.marginTop38 {
    margin-top: 38px;
}

/******************* Main *******************/

main {
    margin-bottom: 61px;
}

main a {
    display: block;
}

h3 {
    font-size: 16px;
}

.divTop {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
}

.iDivTop {
    font-size: 12px;
    height: 13.5px;
}

.iGreyDivTop {
    color: #F2F2F2;
}

.h2DivTop {
    font-size: 22px;
    margin-bottom: 25px;
}

    /****************** sectionLeft ****************/

.sectionLeft {
    width: 800px;
    min-width: 450px;
    height: 100%;
    background: #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
    padding: 40px;
}

.aSectionLeft {
    width: 30.75%;
    min-width: 195px;
    height: 199px;
    margin-bottom: 15px;
    border: solid #FFFFFF 5px;
    border-radius: 20px;
    background: #FFFFFF;
}

.imgSectionLeft {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    vertical-align: top;
}

.divH3PILeft {
    margin: 4px 0px 6px 11px;
}

.AfficherPLus {
    margin: 40px 0px 5px 25px;
}

    /****************** sectionRight *******************/

.sectionRight {
    width: 420px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 20px;
}

.divH2ISectionRight{
    margin: 40px 0px 25px 0px;
}

.h2SectionRight {
    font-size: 22px;
    margin: 0px 0px 0px 35px;
}

.iTopSectionRight {
    font-size: 18px;
    margin: 5px 40px 0px 0px;
}

.divASectionRight {
    display: flex;
    flex-direction: column;
    height: 81%;
}

.aSectionRight {
    width: 81.7%;
    height: 144px;
    border: solid #FFFFFF 5px;
    border-radius: 20px;
    background: #FFFFFF;
}

.imgSectionRight {
    object-fit: cover;
    width: 137px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
}

.divH3PISectionRight {
    margin: 11px 22px 0px 15px;
    width: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divISectionRight {
    margin-bottom: 7px;
}

    /******************* sectionBottom ********************/

.sectionBottom {
    margin-top: 60px;
}

.h2SectionBottom {
    margin-bottom: 18px;
}

.aSectionBottom {
    width: 22.5%;
    height: 445px;
    border-radius: 20px;
}

.imgSectionBottom {
    object-fit: cover;
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    vertical-align: top;
}

.divPSectionBottom {
    display: flex;
    align-items: center;
    height: 56px;
    margin-left: 19px;
}

/****************** Footer ********************/

footer {
    width: auto;
    height: 180px;
    background: #F2F2F2;
    padding: 45px 0px 0px 70px;
}

.divFooter {
    width: 500px;
}

.h2Footer {
    font-size: 18px;
    margin-bottom: 20px;
}

.pFooter {
    font-size: 16px;
    margin-bottom: 12px;
}


/******************************************************* Media querie 1024px ********************************************************/


@media screen and (max-width: 1024px) {

    body {
        padding: 0 70px;
    }
    
    /************* header **************/

    ul {
        width: 240px;
        justify-content: space-between;
    }

    li a {
        padding: 0px;
    }

    li a:hover {
        color: #000000;
        border-top: transparent;
    }

    /*********** section class="sectionInput" ***********/

    .filtre {
        width: 93.2%;
    }

    .divFiltre a {
        font-size: 11px;
    }

    .filtre a:hover {
        padding: 14px 20px;
        margin: 2px 2px;
        background: #FFFFFF;
    }

    /****************** Main *****************/

    .divTop {
        flex-direction: column;
    }

    /****************** sectionLeft ***********/

    .sectionLeft {
        width: calc(100% - 80px);
        min-width: 350px;
        margin: 0px 0px 50px 0px;
    }

    /************** sectionRight **************/

    .sectionRight {
       width: 100%;
       min-width: none;
       margin: 0;
    }

    .divASectionRight {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .aSectionRight {
        width: 28.6%;
        min-width: 233px;
        margin: 15px 12px 40px 12px;
    }

    .imgSectionRight {
        width: 42.1%;
    }

    .divH3PISectionRight {
        margin-right: 10px;
    }

    .p14 {
        font-size: 13px;
    }

    /************ SectionBottom ************/

    .aSectionBottom {
        height: 267px;
    }

    .imgSectionBottom {
        height: calc(267px - 56px);
    }

    .h2SectionBottom {
        margin-bottom: 35px;
    }
}


/******************************************************* Media query 820px ********************************************************/


@media screen and (max-width: 768px){

    body {
        padding: 0px;
    }

    /******************** header ******************/

    .divHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .booki {
        margin-bottom: 48px;
    }

    nav {
        width: 100%;
        height: 44px;
    }

    ul {
        justify-content: space-around;
        width: 100%;
    }

    li {
        width: 50%;
    }

    li a {
        width: 100%;
        display: block;
        padding-bottom: 23px;
        font-size: 16px;
        border-bottom: solid #F2F2F2 2px;
        text-align: center;
    }

    li a:hover {
        border-bottom: solid #0065FC 2px;
        color: #0065FC;
    }

    /*********** section class="sectionInput" ***********/

    .sectionInput {
        margin: 31px 20px 0px 20px;
    }

    .divFormLeft {
        min-width: 0;
    }

    .loupe {
        display: flex;
    }

    .inputRechercher {
        display: none;
    }

    .filtre {
        flex-direction: column;
        width: 100%;
        margin-top: 34px;
    }
    
    .pSectionInput {
        width: 100%;
        margin: 0px 0px 13px 0px;
    }

    .divFiltre {
        flex-wrap: wrap;
        width: 100%;
    }

    .filtre a {
        width: 48%;
    }

    /************** main *************/

    .divTop {
        flex-direction: column-reverse;
    }

    .h2DivTop {
        width: 89.3%;
        margin: auto;
        margin-bottom: 19px;
    }

    /************** sectionLeft ***********/

    .sectionLeft {
        padding: 0;
        width: 100%;
        background: none;
        min-width: auto;
    }

    .divLines {
        flex-direction: column;
    }

    .aSectionLeft {
        width: 89.3%;
        margin: auto;
        margin-bottom: 12px;
    }

    .sectionLeft {
        height: 100%;
    }

    .AfficherPLus {
        display: none;
    }

    /*************** sectionRight ************/

    .h2SectionRight {
        margin: 0;
    }

    .iTopSectionRight {
        margin: 5px 0px 0px 0px;
    }

    .sectionRight {
        padding: 28px 0px 35px 0px;
        margin-bottom: 26px;
        border-radius: 0px;
    }

    .divASectionRight {
        flex-direction: column;
    }

    .aSectionRight {
        width: 89.3%;
        margin: auto;
        margin-bottom: 12px;
    }

    /********** sectionBottom ***********/

    .sectionBottom {
        height: 100%;
        margin-top: 0;
    }

    .divSectionBottom {
        flex-direction: column;
    }

    .aSectionBottom {
        width: 89.3%;
        margin: auto;
        margin-bottom: 24px;
        height: 190px;
    }

    .imgSectionBottom {
        height: 134px;
    }

    /********** footer *********/

    footer {
        flex-direction: column;
        padding-left: 0;
        height: 100%;
    }

    .divFooter {
        width: 89.3%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .h2SectionBottom {
        width: 89.3%;
        margin: auto;
        margin-bottom: 19px;
    }

    
}