@font-face {
    font-family: "Raleway-Regular";
    src: url(../Fonts/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(../Fonts/static/Raleway-Bold.ttf);
}

/********************* Général *******************/

body {
    max-width: 1340px;
    padding: 0 50px;
    margin: auto;
}

h1,
h2,
h3,
::placeholder {
    font-family: "Raleway-Bold";
    margin: 0;
}

.bold {
    font-family: "Raleway-Bold";
}

p {
    font-family: "Raleway-Regular";
    margin: 0;
}

.flexRow {
    display: flex;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.justifyContentSpaceAround {
    justify-content: space-around;
}

.justifyContentCenter {
    justify-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.FlexDirectionColumn {
    display: flex;
    flex-direction: column;
}

i {
    color: #0065FC;
}

.i000000{
    color: #000000;
}

span {
    font-family: "Raleway-Bold";
}

header,
main {
    margin-top: 44px;
}

.boxShadow {
    box-shadow: 0px 0px 15px 0px #D9D9D9;
}

/*********************** Header **********************/

.marginTop20 {
    margin-top: 20px;
}

.booki {
    width: 61.09px;
    height: 19px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 381px;
    padding: 0;
    height: 19px;
    margin: 0;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Raleway-Regular";
}

li a {
    padding: 42px 20px 0px 20px;
}

li a:hover {
    color: #0065FC;
    border-top: solid #0065FC 2px
}

/****************** section class"margin" *****************/

.margin {
    margin-top: 53px;
}

h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

.p16 {
    font-size: 16px;
}

form {
    display: block;
    border-collapse: collapse;
    position: relative;
}

.divFormLeft {
    position: relative;
    width: 332px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.aLeft {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.inputLeft {
    border: none;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 17px;
    color: #000000;
}

input::placeholder {
    color: #000000;
    opacity: 1;
}

input:focus {
    outline: none;
}

.inputRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    justify-content: center;
    position: absolute;
    left: 291px;
    width: 132px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-family: 'Raleway-Bold';
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.filtre {
    width: 914px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filtre a {
    font-family: "Raleway-Bold";
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 20px;
    margin: 2px 2px;
}

.filtre a:hover {
    transition: 0.5s;
    margin: 0px 0px;
    padding: 16px 22px;
    background: #DEEBFF;
}

.i {
    padding: 7px 10px 7px 10px;
    border: solid #DEEBFF 1px;
    border-radius: 30px;
    font-size: 10px;
    margin-right: 11px;
}

.marginTop38 {
    margin-top: 38px;
}

/******************* Main *******************/

main {
    margin-bottom: 61px;
}

main a {
    display: block;
}

h3 {
    font-size: 16px;
}

.iDivTop {
    font-size: 12px;
    height: 13.5px;
}

.divTop {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
}

.iGreyDivTop {
    color: #F2F2F2;
}

.h2DivTop {
    font-size: 22px;
    margin-bottom: 25px;
}

    /****************** sectionLeft ****************/

.sectionLeft {
    width: 800px;
    min-width: 600px;
    height: 586px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
    padding: 40px;
}

.p14 {
    font-size: 14px;
    margin: 9px 0px;
}

.divLines {
    width: 90.9%;
}

.aSectionLeft {
    width: 30.75%;
    height: 199px;
    border: solid #FFFFFF 5px;
    border-radius: 20px;
    background: #FFFFFF;
}

.imgSectionLeft {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    vertical-align: top;
}

.divH3PILeft {
    margin: 4px 0px 6px 11px;
}

.AfficherPLus {
    margin: 40px 0px 5px 25px;
}

    /****************** sectionRight *******************/

.sectionRight {
    width: 420px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 20px;
}

.divH2ISectionRight{
    margin: 40px 0px 45px 0px;
}

.h2SectionRight {
    font-size: 22px;
    margin: 0px 0px 0px 35px;
}

.iTopSectionRight {
    font-size: 18px;
    margin: 5px 40px 0px 0px;
}

.aSectionRight {
    width: 81.7%;
    height: 144px;
    border: solid #FFFFFF 5px;
    border-radius: 20px;
    margin-bottom: 30px;
    background: #FFFFFF;
}

.imgSectionRight {
    object-fit: cover;
    width: 137px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
}

.divH3PISectionRight {
    margin: 11px 22px 0px 15px;
    width: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divISectionRight {
    margin-bottom: 7px;
}

    /******************* sectionBottom ********************/

.sectionBottom {
    margin-top: 60px;
}

.h2SectionBottom {
    margin-bottom: 18px;
}

.aSectionBottom {
    width: 22.5%;
    height: 445px;
    border-radius: 20px;
}

.imgSectionBottom {
    object-fit: cover;
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    vertical-align: top;
}

.divPSectionBottom {
    display: flex;
    align-items: center;
    height: 56px;
    margin-left: 19px;
}

/****************** Footer ********************/

footer {
    width: auto;
    height: 180px;
    background: #F2F2F2;
    padding: 45px 0px 0px 70px;
}

.divFooter {
    width: 500px;
}

.h2Footer {
    font-size: 18px;
    margin-bottom: 20px;
}

.pFooter {
    font-size: 16px;
    margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {

    body {
        padding: 0 70px;
    }
    
    /************* header **************/

    ul {
        width: 240px;
        justify-content: space-between;
    }

    li a {
        padding: 0px;
    }

    li a:hover {
        color: #000000;
        border-top: transparent;
    }

    /***************** section class="margin" ***************/
    .filtre {
        width: 820px;
    }

    .filtre a:hover {
        padding: 13px 18px;
        margin: 2px 30px;
        background: #FFFFFF;
    }

    /****************** Main *****************/

    .divTop {
        flex-direction: column;
    }

    /****************** sectionLeft ***********/



    .sectionLeft {
        margin: auto;
        margin-bottom: 50px;
    }

    /************** sectionRight **************/

    .sectionRight {
       width: 880px;
       margin: 0;
    }

    .aSectionRight {
        width: 252px;
        margin: 15px 12px 40px 12px;
    }

    .imgSectionRight {
        width: 106px;
    }

    .divH3PISectionRight {
        margin-right: 20px;
    }

    /************ SectionBottom ************/

    .aSectionBottom {
        height: 267px;
    }

    .imgSectionBottom {
        height: calc(267px - 56px);
    }

    .h2SectionBottom {
        margin-bottom: 35px;
    }
}
